.contact {
    .marquee {
        background: var(--pink);
        padding: 20px 0px;

        .marquee-container {
            div {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 22.5px;
                    letter-spacing: 0.04em;
                    color: var(--white);
                }

                img {
                    margin: 0px 10px;
                }
            }
        }
    }

    .contact-body {
        display: flex;
        justify-content: space-between;

        .contact-left,
        .contact-right {
            width: 50%;
        }

        .contact-right {
            padding: 100px 50px;

            h1 {
                font-family: 'Kaoly', sans-serif;
                font-size: 50px;
                font-weight: 700;
                line-height: 90.5px;
                text-align: left;
                color: var(--light-pink);
                margin-bottom: 15px;
            }

            p {
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                font-weight: 400;
                line-height: 22.5px;
                letter-spacing: 0.04em;
                text-align: left;
                color: var(--pink);
                max-width: 590px;

                span {
                    color: var(--light-pink);
                }

                &:nth-child(3) {
                    margin-top: 30px;
                }

                &:nth-child(4) {
                    margin-top: 10px;
                    font-weight: 600;
                }

                &:nth-child(5) {
                    margin-top: 30px;
                }

                &:nth-child(6) {
                    margin-top: 30px;
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
            }

            a {
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                font-weight: 500;
                line-height: 22.5px;
                letter-spacing: 0.04em;
                text-align: left;
                color: var(--pink);
            }

            .hours {
                margin-top: 30px;

                p {
                    margin-top: 5px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 22.5px;
                    letter-spacing: 0.04em;
                    text-align: left;
                }
            }
        }

        .contact-left {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            background: var(--gif-pink);
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact {
        .contact-body {
            flex-direction: column;

            .contact-left,
            .contact-right {
                width: 100%;
            }

            .contact-left {
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact {
        .marquee {
            padding: 10px 0px;

            .max-width {
                padding: 0;

                .marquee-container {
                    div {

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .contact-body {


            .contact-right {
                padding: 50px 20px 0px;

                h1 {
                    font-size: 40px;
                    line-height: 50px;
                    text-align: center;
                    margin-bottom: 50px;
                }

                p {
                    max-width: 100%;
                }
            }

            .contact-left {


                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}