// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Kaoly
@font-face {
  font-family: 'Kaoly';
  src: url('/fonts/Kaoly Demo-Regular.ttf');
}

:root {
  --pink: #CD5277;
  --white: #FFFFFF;
  --gif-pink: #FFDDDD;
  --light-pink: #F7C0D7;
  --lighter-pink: #FFF5F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    text-decoration: underline;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--lighter-pink);
}

::-webkit-scrollbar-thumb {
  background: var(--pink);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-pink);
}

@media screen and (max-width: 1440px) {
  .max-width {
    padding-left: 20px;
    padding-right: 20px;
  }
}